.container{
    padding: 0;
    margin: 0;
    background: var(--background-primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

