.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.875rem;
    width: 20rem;
    border: 1px solid;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    
}

.button:hover{
    background-color: rgb(190, 190, 190);
    
}