.card{
    width: 30cqw;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    max-width: 20cqw;

}
.logo{
    width: 100%;
    border-bottom: 1px solid;
    border: 2px solid;
    border-radius: 20px;
}

.texto{
    width: 100%;
}

@media (max-width: 767px){
    .card{
        max-width: 40cqw;
        
    }
}