.container{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    color: white;
    font-size: 1.25rem;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: var(--form-backgrund-primary-color);
    padding: 50px;
    
    justify-content: center;
    border-radius: 10px;
    gap: 1.5em;
    
}


.inputContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
}

input{
    border-radius: 5px;
    border: 1px solid #A3A3A4;
    padding: 10px;
    background-color: #303033;
    color: white;
    font-family: "Roboto";
}

input:hover{
    background-color: #4e4e53;
}

