* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --background-primary-color: linear-gradient(8deg,rgba(150, 48, 139, 1) 0%, rgba(152, 29, 253, 1) 60%, rgba(194, 74, 74, 1) 91%);
  --primary-font: "Roboto", Arial, Helvetica, sans-serif;
  --form-background-primary-color: #303033;
  font-family: var(--primary-font);
  font-size: 1rem;

}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}




