
.form{
    display: flex;
    flex-direction: column;
    background-color: var(--form-background-primary-color);
    padding: 50px;
    font-size: 1.25rem;
    color: white;
    border-radius: 0.625rem;
    gap: 1.7em;
    width: 30cqw;

}

.inputContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
}

input{
    border-radius: 5px;
    border: 1px solid #A3A3A4;
    padding: 10px;
    background-color: var(--background-third-color);
    color: white;
    
}

input:hover{
    background-color: #4e4e53;
}

.button{
    background-color: #A3A3A4;
    color: #303033;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.button:hover{
    color: white;
}

@media (max-width: 767px){
    .form{
        width: 100cqw;
        border-radius: 0;
    }
}